header.header

    h1.header__title Catch the Square
    h3.modal__title
        if(user && user.name)
            h3(class='modal__title')= 'Player : ' + user.name
            span= 'Best result : ' + bestUserResult

    form(action='/auth/logout' method='post')
        if(user && user.name)
            input.button(type='submit' value='Log out')
    include navbar