modal__form-wrapper
    h2.modal__title GAME OVER
    p.modal__text
        | Score :
        span#form-score
    form#result-form.modal__form
        button#submit-result-btn.button(type='submit')
            | Save
        button#cancel-result-btn.button(type='button')
            | Cancel
        span#form-status.form__status