html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link{
  display: block;
  text-decoration: none;
  text-align: center;
}
/*BUTTONS*/
.button {
  margin: 5px;
  padding: 10px;
  border: 2px solid tomato;
  border-radius: 6px;
  width: 120px;
  transition: 0.3s all;
  font-weight: 700;
}
.button:hover {
  cursor: pointer;
  background-color: #00bcd4;
  color: #fff;
}

.input {
  margin: 5px;
  padding: 0;
  border: 2px solid tomato;
  border-radius: 6px;
  width: 360px;
  height: 40px;
  text-align: center;
  font-size: 26px;
}

.input:invalid {border-color: red;}
.input:valid {border-color: green;}
/*HEADER*/
.header {
  background-color: tomato;
  height: 80px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.header__title {
  text-align: center;
  margin: 0;
  color: #751f6b;
  font-style: italic;
}
/*SECTION*/
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.section__game {
  width: 700px;
  height: 586px;
  padding: 5px;
  border: 2px solid tomato;
  border-radius: 30px 30px 20px 20px;
}
.section__status-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.status-bar__count-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 4px 2px;
}

.status-bar__text {
  color: #000;
}

.status-bar__text-red {
  color: #ff0000;
}
.status-bar__text-green {
  color: #178522;
}
.status-bar__image {
  display: block;
  width: 80px;
  height: auto;
}
/*SQUARES*/
.section__squares-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.section__squares-item {
  width: 68px;
  height: 68px;
  margin: 0;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #a0a0a0;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.square-green {
  background-color: #178522;
}

.square-blue {
  background-color: #178585;
}

.square-red {
  background-color: #851736;
}

.square-blue:hover,
.square-green:hover,
.square-red:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}
/*SCORE-TABLE*/
.score-table-wrapper {
  align-self: flex-start;
}

.score-table__list {
  font-size: 14px;
  list-style: decimal;
  margin: 0 10px;
}

.score-table__item {
  font-size: 14px;
  list-style: decimal;
  margin: 0 10px;
}
/*MODAL*/
.modal {
  display: flex;
  justify-content: center;
  background-color: #ffe4c4a6;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-closed {
  display: none;
}
.modal__form-wrapper {
  width: 400px;
  margin: 0 auto;
  border-radius: 8px;
  border: 2px solid #178585;
  background-color: #deb887;
}
.modal__title {
  margin: 20px auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
}
.modal__form {
  width: 100%;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.modal__text {
  text-align: center;
  text-transform: capitalize;
}
.form__status{
  color: red;
  display: block;
  text-align: center;
}
/*ANIMATION*/
.hinge {
  animation-name: addict;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes addict {
  0% {
    -webkit-transform: rotate(0);
    transform: scale(0.7);
  }
  10% {
    -webkit-transform: rotate(90deg);
    transform: scale(0.9);
  }
  20% {
    -webkit-transform: rotate(-90deg);
    transform: scale(0.5);
  }
  30% {
    -webkit-transform: rotate(0);
    transform: scale(0.7);
  }
  50% {
    -webkit-transform: rotate(95deg);
    transform: scale(0.3);
  }
  70% {
    -webkit-transform: rotate(-95deg);
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.1);
    -webkit-transform: rotate(0);
  }
}
